.headings{
  font-size: 18px;
  font-weight: bold;
  color: blue !important;
}
.divImage{
	width: 100%;
	margin-top: 20px;
}
.showImage{
	width: 30%;
	height: 165px;
	/*background-color: green;*/
}
.clIcon{
  float: right;
  margin-top: -7px;
}
.clsImage{
	margin: 5px 0px;
}
.clsImageAdmin{
	width: 100%;
	margin-left: 8px;
}
.divImages{
	/*height: 120px;*/
	margin: 3px 0px;
	padding-left: 0px;
}
.idRemove{
	cursor: pointer;
    position: relative;
    top: -76px;
    right: -116px;
}
.titleTable{
	width: 120px
}
.block-images{
	/*height: 350px;*/
    margin-bottom: 10px;
}
.item-images{
	/*margin: 3px;*/
	height: 100%;
}
.iconDelete{
	cursor: pointer;
	width: 7%;
	position: absolute;
    border-radius: 20px;
    top: 2px;
    left: 18px;
}
.iconDeletes{
    cursor: pointer;
    width: 14%;
    position: absolute;
    border-radius: 20px;
    top: 0px;
}
#pathId{
	/*display:none;*/
	margin-bottom: 3px;
	width: 100%
}
#grVideo{
	display:none;
	width: 100%
}
#addImage{
	margin-top: 3px;
}
.drive-viewer-toolstrip{
	display: none !important;
}
.widthImage{
	width: 100%;
}

.modal-backdrop {
    z-index: auto;
}
.modal-dialog {
    /*max-width: 100%;*/
    /*margin: 0px; */
}